[Unit]
Description=start station-hardware-server
After=station-boot.service

[Service]
Type=simple
WorkingDirectory=/home/ctt/ctt/sensor-station-software
ExecStart=npm run start-hardware-server
Restart=on-failure
TimeoutSec=60

[Install]
WantedBy=multi-user.target
